div.container {
    text-align: center;
}

#myCanvas {
    width: 200px;
    height: 100px;
    margin: 20px auto; /* Ez azt jelenti, hogy a margó alul-felül 20px és jobbról-balról auto, azaz a szöveg, tartalom ami benne lesz, középre lesz igazítva. */
    border: solid 1px black;
    box-shadow: 0 0 5px;
}

#myImg {
    display: none;
}

.drop-container {
    background-color: aliceblue;
    box-shadow: 0 0 5px;
}

.drop-container .source,
.drop-container .target {
    width: 200px;
    height: 100px;
    margin: 10px;
    display: inline-block;    /*sorban fognak megjelenni, nem egymás alatt*/
    border: solid 1px #777777;
    background-color: white;
    position: relative;
}

#img1 {
    top: 30px;
    margin: 0 auto;
}

.price-div {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 30px;
    background-color: aqua;
}